*
  box-sizing: border-box
body
  +reg
img
  max-width: 100%
a
  text-decoration: none
button
  background-color: $main-color
  border: none
  padding: 10px 15px
.container
  width: 1200px
  margin: auto
.section
  padding: 90px 0
  &-title
    font-size: 24px
    +bold
    text-align: center
  &-subtitle
    display: block
    font-size: 16px   
.map
  width: 100%
  height: 742px
  &__form
    background: url("img/map/map-bg.png")
    
@media ( max-width: 1200px )
  .container
    width: 900px
@media ( max-width: 1200px )
  .container
    width: 740px
@media ( max-width: 768px )
  .container
    max-width: 580px
    width: 90%
  .section
    padding-top: 60px
    padding-bottom: 60px