.feedback
  margin-bottom: 142px
  background: $logo
.slider
  &__foto
    margin: auto
    margin-top: 112px
    margin-bottom: 19px
  &__title
    text-align: center
    +reg
    color: $main-color
    font-size: 20px
    margin-bottom: 25px
  &__text
    text-align: center
    color: $feedback-slider
    font-size: 20px
    margin-bottom: 28px
  &__score
    display: flex
    justify-content: center
    img
      margin-bottom: 172px
      margin-right: 7px
    span
      color: #fefbfb
      font-size: 15px
      margin-right: 27px

