.feedback
  margin-bottom: 142px
  background: $logo
  &-button
    font-size: 28px
    +bold
    margin: -25px 0 0 -30px
    padding: 13px 62px
.slider
  &__foto
    margin: auto
    margin-top: 73px
    margin-bottom: 19px
  &__title
    text-align: center
    +reg
    color: $main-color
    font-size: 20px
    margin-bottom: 25px
  &__text
    text-align: center
    color: $feedback-slider
    font-size: 20px
    margin-bottom: 28px
    padding: 0px 50px
  &__score
    display: flex
    justify-content: center
    img
      margin-bottom: 172px
      margin-right: 7px
      &:hover
        cursor: pointer
    span
      color: #fefbfb
      font-size: 15px
      margin-right: 27px
      &:hover
        cursor: pointer
.my-dots-class
  position: absolute
  list-style-type: none
  bottom: 33px
  right: 47%
  display: flex
  li
    margin-right: 10px
  li button
    font-size: 0
    background: #fff
    max-width: 20px
    max-height: 20px
    padding: 10px 10px
.my-dots-class .slick-active button 
	background-color: $main-color
@media (max-width: 1275px)
  .feedback
    &-button
      margin-left: -1px
@media (max-width: 1200px)
  .my-dots-class
    right: 45%
@media (max-width: 992px)
  .my-dots-class
    right: 37%
  .feedback
    &-button
      font-size: 28px
@media (max-width: 768px)
  .my-dots-class
    right: 33%
  .feedback
    &-button
      font-size: 26px
      margin: -25px 0 0 -1px
      padding: 5px 30px
@media (max-width: 610px)
  .my-dots-class
    right: 31%
@media (max-width: 576px)
  .my-dots-class
    right: 29%
@media (max-width: 476px)
  .my-dots-class
    right: 26%
@media (max-width: 426px)
  .my-dots-class
    right: 24%
@media (max-width: 375px)
  .my-dots-class
    right: 22%
@media (max-width: 350px)
  .my-dots-class
    right: 20%
@media (max-width: 320px)
  .my-dots-class
    right: 17%
  .slider
    &__text
      padding: 0px 45px