.hero
  &-block
    position: absolute
    top: 280px
    left: 147px
  &__title
    +bold
    font-size: 35px
    color: $main-color
    margin-bottom: 12px
  &__subtitle
    font-size: 35px
    color: $hero-text
    +reg
    margin-bottom: 27px
  &__text
    font-size: 20px
    opacity: 0.42
    +reg
    color: $hero-text
    line-height: 1.3
    margin-bottom: 50px
    max-width: 1175px
  &__button
    +bold
    font-size: 18px
    color: $text-color
    padding: 12px 38px
.slick
  &-dots
    position: absolute
    list-style-type: none
    bottom: 29px
    right: 47%
    display: flex
  &-dots li
    margin-right: 10px
  &-dots li button
    font-size: 0
    background: #fff
    max-width: 20px
    max-height: 20px
    padding: 10px 10px
.slider
  &__shadow
    background: url("../../img/hero/hero-background.png") no-repeat
  &__background
    width: 1920px
    height: 740px
    overflow: hidden
    opacity: 0.3