.navbar
  &::before
    content: ""
    width: 60%
    height: 100%
  &-block
    display: flex
    justify-content: space-between
  &__logo
    display: flex
    flex-direction: column
    align-items: center
    color: $logo
    +bold
    font-size: 15px
  &__menu
    display: flex
    justify-content: center
    align-items: center
    color: $secondary
  &-menu
    display: flex
    list-style-type: none
    &__items
      color: $secondary
      font-size: 16px
      +bold
    &__item
      margin-right: 20px
    &__line
      margin-right: 20px
  &__info
    background: url("../../img/navbar/navbar_phone.png") no-repeat
    display: flex
    justify-content: center
    align-items: center
    flex-basis: 37%
    +bold
  &__contacts
    display: flex
    justify-content: center
    align-items: center
  &__phone
    color: $secondary
    font-size: 18px
  &__button
    margin-left: 30px
    padding: 6px 15px
.mobile-menu
  display: none
@media (max-width: 1440px)
  .navbar
    &-block
      display: flex
@media (max-width: 1300px)
  .navbar
    &-block
      justify-content: center
@media (max-width: 1200px)
  .navbar
    &__menu
      margin: auto
    &-menu
      &__line
        margin-right: 5px
      &__item
        margin-right: 5px
    &__phone
      display: flex
      justify-content: center
      align-items: center
      font-size: 15px
@media (max-width: 992px)
  .navbar
    &__contacts
      display: none
    &__button
      margin: 0
@media (max-width: 768px)
  .navbar
    &-menu
      margin-left: -20px
      &__line
        display: none
@media (max-width: 600px)
  .navbar
    &__button
      padding: 4px 10px
@media (max-width: 576px)
  .mobile
    &-menu
      display: block
      margin: auto
      z-index: 2
      &__btn
        display: block
        width: 40px
        height: 40px
        background: $main-color
        border-radius: 50px
        position: relative
        span
          display: block
          width: 20px
          height: 2px
          background: #ffffff
          position: absolute
          top: 50%
          left: 50%
          margin-left: -10px
          margin-top: -1px
          &:before
            content: ""
            display: block
            width: 20px
            height: 2px
            background: #ffffff
            transform: translateY(-5px)
            transition: all 0.4s linear
          &:after
            content: ""
            display: block
            width: 20px
            height: 2px
            background: #ffffff
            transform: translateY(3px)
            transition: all 0.4s linear
      &__active
        span
          height: 0
          &::before
            width: 20px          
            transform: rotate(-45deg)
            transform-origin: left top
            transform-origin: 45% 60%
          &::after
            width: 20px
            transform: rotate(45deg)
            transform-origin: right bottom
            transform-origin: 65% -40%      
  .navbar
    &__menu
      visibility: hidden
      opacity: 0
      position: absolute
      background: #222
      width: 100%
      height: 100vh
      &-active
        visibility: visible
        opacity: 1
        transition: all 0.4s linear
    &-menu
      display: block
      &__items
        margin-bottom: 20px
      &__item
        color: $hero-text
        font-size: 20px
    &__logo
      margin-right: 20px
        