.news
  background: #f1f1f1
  min-height: 852px
  &-cards
    display: flex
  &__card
    display: flex
    flex-direction: column
    margin-right: 20px
    margin-bottom: 30px
    img
      margin-bottom: 12px
    &__title
      display: flex
      align-items: center
    h1
      +bold
      font-size: 20px
      color: $text-color
      margin-right: 60px
    span
      display: flex
      justify-content: flex-end
    p
      +reg
      font-size: 18px
      color: $text-color
      line-height: 28px
      max-width: 340px
  &-button
    margin: -25px 0 64px -30px
    font-size: 28px
    padding: 8px 54px
    +bold
    &__down
      display: flex
      font-size: 20px
      margin: auto
      +reg
      padding: 15px 46px
@media (max-width: 1275px)
  .news
    &-button
      margin-left: -1px
@media (max-width: 768px)
  .news
    &-cards
      display: flex
      flex-wrap: wrap
    &__card
      margin: auto
      p
        margin-bottom: 70px