.service
  background: url('../../img/service/service_background.jpg') repeat
  margin-bottom: 143px
  &-block
    display: flex
    flex-wrap: wrap
    &__card 
      position: relative
      display: inline-block
      /* Style for "fff67d6f52" */
      width: 377px
      height: 236px
      margin-right: 19px
      margin-bottom: 21px
      &-title
        position: absolute
        right: 0
        bottom: 10px
        font-size: 20px
        top: 42%
        left: 56%
        margin-left: -140px
        margin-top: -40px
        +reg
        line-height: 28px
        color: $service-text
        &:hover
          display: none
          color: $secondary
      &-button
        position: absolute
        right: 0
        top: 48%
        left: 53%
        margin-left: -77px
        margin-top: 19px
        color: $text-color
        &:hover
          background-color: $secondary
          color: $footer-address
      &:last-child
        margin-bottom: 120px
  &__button
    margin: -25px 0 80px -30px
    font-size: 35px
    +bold
  .card
    &__background
      &:hover
        filter: blur(5px)
@media (max-width: 1275px)
  .service
    &__button
      margin-left: -1px
@media (max-width: 1200px)
  .service
    &-block
      &__card 
        position: relative
        display: inline-block
        width: 350px
        height: 236px
        margin: 0 auto
    &__button
      font-size: 32px
@media (max-width: 992px)
  .service
    &:hover
      cursor: default
  &__button
      font-size: 30px
@media (max-width: 768px)
  .service
    &__button
      font-size: 28px
      padding: 4px 47px
    &-block
      &__card 
        margin: 30px auto