.service
  background: $main-bg
  margin-bottom: 143px
  &-block
    display: flex
    flex-wrap: wrap
    &__card 
      position: relative
      display: inline-block
      width: 377px
      height: 236px
      margin-right: 19px
      margin-bottom: 21px
      /* -webkit-filter: grayscale(1) */
      transition: 0.2s
      .card__title
        position: absolute
        right: 0
        bottom: 10px
        font-size: 20px
        top: 42%
        left: 56%
        margin-left: -148px
        margin-top: -40px
        +reg
        line-height: 28px
        color: $footer-address
        max-width: 250px
        text-align: center
      &:hover .card__background
        opacity: 1
      &-button
        position: absolute
        right: 0
        top: 48%
        left: 53%
        margin-left: -79px
        margin-top: 19px
        color: $secondary
        +bold
        &:hover
          cursor: pointer
      &:last-child
        margin-bottom: 120px
  &__button
    margin: -25px 0 80px -30px
    font-size: 35px
    +bold
.card__background 
  opacity: 0.3
.service__shadow
  background: #000
  display: block
  max-height: 236px
.service .card__background 
  width: 377px
  height: 236px
  transition: 0.2s
/* .service-block__card-active .service-block__card-button
  color: $secondary */
.title-active
  color: $secondary
.service-block__card-active
  .card__title
    &:hover
      color: $secondary
  button
    left: 56%
    color: $footer-address
    background: $secondary
  img
    opacity: 1
  div
    max-height: 236px
@media (max-width: 1275px)
  .service
    &__button
      margin-left: -1px
@media (max-width: 1200px)
  .service
    &-block
      &__card 
        position: relative
        display: inline-block
        width: 350px
        height: 236px
        margin: 0 auto
        margin-bottom: 20px
    &__button
      font-size: 32px
@media (max-width: 992px)
  .service
    &:hover
      cursor: default
      box-shadow: none
  &__button
      font-size: 30px
  .card__background 
    opacity: 0.3
    &:hover
      opacity: 0.3
@media (max-width: 768px)
  .service
    &__button
      font-size: 28px
      padding: 4px 47px
    &-block
      &__card 
        margin: 30px auto