.what
  .advantages
    background-image: url("../img/what/what-background.jpg")
    background-position: left center
    background-size: 50%
    background-repeat: repeat-y
    max-width: 1186px
    max-height: 563px
    &__list
      display: flex
      flex-wrap: wrap
    &__card
      /* Style for "Прямоуголь" */
      width: 198px
      height: 168px
      background-color: #fff
      margin-right: 36px
      margin-bottom: 36px
    &__title
      font-size: 18px
  .virtues
    background-image: url("../img/what/virtues-background.jpg")
    background-position: center right
    background-size: contain
    background-repeat: repeat