.what
  background: #f1f1f1
  background-position: left center
  background-size: 57%
  background-repeat: repeat-y
  position: relative
  margin-bottom: 142px
  &::before
    content: ""
    width: 43%
    height: 100%
    position: absolute
    top: 0
    right: 0
    background: #fff
  &-block
    width: 60%
  &-button
    padding: 15px 31px
    +bold
    font-size: 28px
    margin: -26px 0 60px -30px
  .advantages
    &__list
      display: flex
      flex-flow: row wrap
    &__card
      /* Style for "Прямоуголь" */
      display: block
      width: 198px
      height: 168px
      background-color: #fff
      margin-right: 36px
      margin-bottom: 36px
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      &:last-child
        margin-bottom: 95px
      img
        margin-bottom: 15px
    &__title
      font-size: 18px
      text-align: center
      color: $text-color
      +reg
      &-2
        &::after
          content: ""
          height: 18px
          display: block
  .virtues
    width: 43%
    height: 100%
    position: absolute
    top: 15%
    right: -2%
    &__point
      display: flex
      align-items: center
      margin-bottom: 46px
      line-height: 25px
      max-width: 410px
      margin-right: 10px
      &-2
        display: flex
        align-items: center
        margin-bottom: 16px
        line-height: 25px
        max-width: 410px
        margin-right: 10px
      &-3
        margin-bottom: 37px
    &__number
      font-size: 35px
      color: $main-color
      margin-right: 10px
      +black
      font-weight: 900
      width: 20px
      height: 20px
      &::before
        content: ""
        font-weight: bold
    img
      margin-right: 10px
    &__title
      font-size: 20px
      +bold
      color: $text-color
      &-2
        font-size: 20px
        +bold
        color: $text-color
        display: block
        &::before
          content: ""
          display: block
          padding-top: 24px
@media (max-width: 1275px)
  .what
    &-button
      margin-left: -1px
@media (max-width: 1200px)
  .what
    &-button
      font-size: 28px
    .advantages
      &__card
        margin: 10px auto
    .virtues
      &__point
        max-width: 310px
@media (max-width: 992px)
  .what
    &-button
      font-size: 26px
    .advantages
      &__card
        margin: 2px auto
    &-block
      width: 55%
    .virtues
      &__point
        max-width: 350px
        &-2
          max-width: 350px
@media (max-width: 825px)
  .what
    .virtues
      &__point
        max-width: 300px
        &-2
          max-width: 300px
@media (max-width: 768px)
  .what
    position: initial
    height: 694px
    margin-bottom: 412px
    &::before
      content: ""
      width: 100%
      position: relative
    &-block
      width: 100%
      position: relative
      background-color: #f1f1f1
    .virtues
      width: 100%
      background: #ffffff
      position: static
      &__points
        padding-top: 40px
      &__point
        margin: auto
        max-width: 479px
        margin-bottom: 40px
        &-2
          margin: auto
          max-width: 479px
          margin-bottom: 40px
      &__title
        &-2
          &::before
            padding: 0
    &-button
      padding: 4px 30px
@media (max-width: 576px)
  .what
    height: 710px
    .advantages
      &__card
        margin-bottom: 10px
@media (max-width: 440px)
  .what
    height: 1250px
@media (max-width: 360px)
  .what
    height: 1250px
    margin-bottom: 500px

